.mainContainer {
  display: flex;
  background: rgb(238, 244, 245);
  height: 100vh;
}

.imageSection {
  background: lightblue;
  height: 100vh;
}

.loginSection {
  margin: 200px 0;
}

.formSection {
  padding: 0 140px;
}
.labelText {
  margin-top: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .loginSection {
    margin-top: 20px;
  }
  .formSection {
    min-height: fit-content;
    padding: 0;
  }
}
