.profileHeader {
  background: rgb(38, 38, 109);
  height: 286px;
}

.sidrbarIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.patientMain {
  background-color: transparent;
}

.patientTable {
  height: 300px;
  overflow-y: auto;
}
