.billHeader {
  background: rgb(38, 38, 109);
  height: 286px;
  padding: 0;
}

.newBillForms {
  background-color: rgb(238, 244, 245);
  min-height: 120vh;
  padding-top: 30px;
}
.statusForm {
  padding: 30px 20px 0 20px;
}

@media screen and (min-width: 768px) {
  .newBillForms {
    background-color: rgb(238, 244, 245);
    min-height: 120vh;
    padding: 30px 100px;
  }
  .statusForm {
    padding: 0 100px 0 40px;
  }
}
