.dashboardSidebar {
  background-color: white;
}
.dashboardMain {
  background-color: rgb(238, 244, 245);
}

.sidebarTop {
  background: rgb(38, 38, 109);
  min-height: 35vh;
  justify-content: center;
  padding-top: 6vh;
}

.dashboardMainTop {
  background: rgb(38, 38, 109);
  min-height: 35vh;
}

.iconPlate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
